<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try {
        ace.settings.check('breadcrumbs', 'fixed')
      } catch (e) {
      }
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="<%= rou_root_url %>">Home</a>
      </li>
      <li class="active">Article</li>
    </ul>
    <!-- .breadcrumb -->

    <!-- #nav-search -->
  </div>

  <div class="page-content">

    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
          <div class="col-sm-12 widget-container-span">
            <div class="widget-box">
              <div class="widget-header widget-hea1der-small header-color-dark">
                <h6><%= @web_title %></h6>
                <div class="widget-toolbar">
                  <%= link_to '返回', rou_categories_path,:class => 'btn btn-app btn-inverse btn-xs' %>
                </div>
              </div>
              <%= render 'form' %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="space-24"></div>

  </div>
  <!-- /.col -->
</div><!-- /.row -->




